<div class="container-fluid">
    <div class="d-flex justify-content-center container-fluid">
        <form class="w-100 m-3" [formGroup]="editCategory" (ngSubmit)="onSubmit()">
            <div class="mb-3 row">
                <div class="col-2">
                    <label for="discountName" class="form-label">Name</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" id="discountName" fdprocessedid="k63lp" formControlName="name"
                        *ngIf="category" value="{{category['attributes'].name}}" />
                    <div style="color: red;" class="bg-danger" *ngIf="isSubmitted && !nameValid">
                        <sup>*</sup>Please provide category name
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-2">
                    <label for="description" class="form-label">Description</label>
                </div>
                <div class="col-10">
                    <textarea class="form-control" id="description" rows="3"
                    *ngIf="category" formControlName="desc">{{category['attributes'].desc}}</textarea>
                    <div style="color: red;" class="bg-danger" *ngIf="isSubmitted && !descValid">
                        <sup>*</sup>Please provide category description
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/admin/categories">Cancel</button>
                <button type="submit" class="btn btn-primary" >Edit Category</button>
            </div>
        </form>
    </div>
</div>

