<div>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Category</h1>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center container-fluid">
                        <form class="w-100 m-3" [formGroup]="newCategory" (ngSubmit)="onSubmit()">
                            <div class="mb-3 row" style="margin-bottom: 15px;">
                                <div class="col-2">
                                    <label for="categoryName" class="form-label">Name</label>
                                </div>
                                <div class="col-10">
                                    <input type="text" class="form-control" id="categoryName" fdprocessedid="k63lp"
                                        formControlName="name" />
                                    <div style="color: red;" class="bg-danger" *ngIf="isSubmitted && !nameValid">
                                        <sup>*</sup>Please provide category name
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row" style="margin-bottom: 15px;">
                                <div class="col-2">
                                    <label for="description" class="form-label">Description</label>
                                </div>
                                <div class="col-10">
                                    <textarea class="form-control" id="description" rows="3"
                                        formControlName="desc"></textarea>
                                    <div style="color: red;" class="bg-danger" *ngIf="isSubmitted && !descValid">
                                        <sup>*</sup>Please provide Category description
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/admin/categories">Cancel</button>
                                <button type="submit" class="btn btn-primary">Add Category</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>