<!--main area-->
<main id="main" class="main-site left-sidebar">

    <div class="container">

        <div class="wrap-breadcrumb">
            <ul>
                <li class="item-link"><a href="#" class="link">home</a></li>
                <li class="item-link"><span>login</span></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 col-md-offset-3">
                <div class=" main-content-area">
                    <div class="wrap-login-item ">
                        <div class="login-form form-item form-stl">
                            <form [formGroup]="login" (ngSubmit)="onSubmit()">
                                <fieldset class="wrap-title">
                                    <h3 class="form-title">Log in to your account</h3>
                                </fieldset>
                                <fieldset class="alert alert-danger" *ngIf="errorMessage">
									{{errorMessage}}
								</fieldset>
								<fieldset class="alert alert-success" *ngIf="successMessage">
									{{successMessage}}
								</fieldset>
                                <fieldset class="wrap-input">
                                    <label for="frm-login-uname">Email Address:</label>
                                    <input type="text" id="frm-login-uname" formControlName="email"
                                        placeholder="Type your email address" (ngValue)="emailValue">
                                    <div class="invalid-input" *ngIf="isSubmitted && emailValid === 'empty'">
                                        <sup>*</sup>Please provide your email
                                    </div>
                                    <div class="invalid-input" *ngIf="!emailValid">
                                        <sup>*</sup>Please provide a valid email
                                    </div>
                                </fieldset>
                                <fieldset class="wrap-input">
                                    <label for="frm-login-pass">Password:</label>
                                    <input type="password" id="frm-login-pass" name="pass" placeholder="************"
                                        formControlName="password">
                                    <div class="invalid-input" *ngIf="isSubmitted && !passwordValid">
                                        <sup>*</sup>Please provide your password
                                    </div>
                                </fieldset>
                                <fieldset class="wrap-input">
                                    <!-- <label class="remember-field">
                                        <input class="frm-input " name="rememberme" id="rememberme" value="forever"
                                            type="checkbox"><span>Remember me</span>
                                    </label> -->

                                    <a class="link-function left-position" [routerLink]="['/forget-password']"
                                        title="Forgotten password?">Forgotten password?</a>
                                </fieldset>
                               
                                <fieldset class="wrap-input" style="width: 100%;display: flex; flex-direction: column; align-items: center;">
                                    <input type="submit" class="wrap-input" style="width: 400px;" class="btn btn-submit" value="Login" name="submit">
                                    <input type="button" (click)="loginGoogle()" style="width: 400px; background-color: #DF2E38;" class="btn btn-submit" value="Login via Google" name="submit">
                                    <input type="button" (click)="loginFacebook()" style="width: 400px; background-color: #1877F2;" class="btn btn-submit" value="Login via Facebook" name="submit">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div><!--end main products area-->
            </div>
        </div><!--end row-->

    </div><!--end container-->

</main>
<!--main area-->