<!--main area-->
<main id="main" class="main-site">

    <div class="container">

        <div class="wrap-breadcrumb">
            <ul>
                <li class="item-link"><a routerLink="/home" class="link">home</a></li>
                <li class="item-link"><span>checkout</span></li>
            </ul>
        </div>
        <div class=" main-content-area">
            <div class="wrap-address-billing">
                <h3 class="box-title">Billing Address</h3>
                <form [formGroup]="orderAddress" (ngSubmit)="onSubmit()" name="frm-billing">
                    <p class="row-in-form">
                        <label for="phone">Phone number<span>*</span>
                            <div class="invalid-input" *ngIf="isSubmitted && invalid">
                                <sup>*</sup>{{errorMessage}}
                            </div>
                        </label>

                        <input formControlName="mobile" id="phone" type="number" name="phone" value=""
                            placeholder="08 digits format">
                    </p>
                    <p class="row-in-form">
                        <label for="phone">Telephone<span>*</span>
                            <div class="invalid-input" *ngIf="isSubmitted && invalid">
                                <sup>*</sup>{{errorMessage}}
                            </div>
                        </label>
                        <input formControlName="telephone" type="number" name="phone" value=""
                            placeholder="10 digits format">
                    </p>
                    <p class="row-in-form">
                        <label for="add">Address: <div class="invalid-input" *ngIf="isSubmitted && invalid">
                                <sup>*</sup>{{errorMessage}}
                            </div></label>
                        <input formControlName="address_line1" id="add" type="text" name="add" value=""
                            placeholder="Street at apartment number">
                    </p>
                    <p class="row-in-form">
                        <label for="add">Address: <div class="invalid-input" *ngIf="isSubmitted && invalid">
                                <sup>*</sup>{{errorMessage}}
                            </div></label>
                        <input formControlName="address_line2" id="add" type="text" name="add" value=""
                            placeholder="Street at apartment number">
                    </p>
                    <p class="row-in-form">
                        <label for="country">Country<span>*</span>
                            < <div class="invalid-input" *ngIf="isSubmitted && invalid">
                                <sup>*</sup>{{errorMessage}}
            </div></label>
            <input formControlName="country" id="country" type="text" name="country" value=""
                placeholder="United States">
            </p>
            <p class="row-in-form">
                <label for="zip-code">Postcode / ZIP: <div class="invalid-input" *ngIf="isSubmitted && invalid">
                        <sup>*</sup>{{errorMessage}}
                    </div></label>
                <input formControlName="postal_code" id="zip-code" type="number" name="zip-code" value=""
                    placeholder="Your postal code">
            </p>
            <p class="row-in-form">
                <label for="city">Town / City<span>*</span>
                    <div class="invalid-input" *ngIf="isSubmitted && invalid">
                        <sup>*</sup>{{errorMessage}}
                    </div>
                </label>
                <input formControlName="city" id="city" type="text" name="city" value="" placeholder="City name">
            </p>
            <p class="row-in-form"></p>
            <p class="row-in-form">
                <input value="Place order now" type="submit" class="btn btn-medium"
                    style="background-color: #ff2832;color: white;font-weight: bold;">
            </p>
            </form>
        </div>
        <div class="summary summary-checkout">
            <div class="summary-item payment-method">
                <h4 class="title-box">Payment Method</h4>
                <p class="summary-info"><span class="title">Check / Money order</span></p>
                <p class="summary-info"><span class="title">Credit Cart (saved)</span></p>
                <div class="choose-payment-methods">
                    <label class="payment-method">
                        <input name="payment-method" id="payment-method-bank" value="Cash on delivery" type="radio"
                            checked>
                        <span>Cash on delivery</span>
                        <span class="payment-desc">But the majority have suffered alteration in some form, by
                            injected humour, or randomised words which don't look even slightly believable</span>
                    </label>
                    <label class="payment-method">
                        <input name="payment-method" id="payment-method-paypal" value="paypal" type="radio"
                            (click)="paywithstripe()">
                        <span>Paypal</span>
                        <span class="payment-desc">You can pay with your credit</span>
                        <span class="payment-desc">card if you don't have a paypal account</span>
                    </label>
                    <form *ngIf="paywithstripegate" [formGroup]="paywithstripegateform" (ngSubmit)="onSubmitStripe()"
                        name="frm-billing">
                        <p class="row-in-form">
                            <label for="phone">Card Number<span>*</span></label>
                            <input type="text" formControlName="card_no" value="4242 4242 4242 4242">
                        </p>
                        <p class="row-in-form">
                            <label for="phone">Expirition Month<span>*</span></label>
                            <input type="text" formControlName="exp_month" value="12">
                        </p>
                        <p class="row-in-form">
                            <label for="add">Expirition Year</label>
                            <input type="text" formControlName="exp_year" value="34">
                        </p>
                        <p class="row-in-form">
                            <label for="add">Cvv_no</label>
                            <input type="text" formControlName="cvv_no" value="34">
                        </p>
                        <p class="row-in-form">
                            <label for="add">Amount</label>
                            <input type="text" formControlName="amount" value="{{totalPrice}}">
                        </p>
                        <p class="row-in-form">
                            <label for="add">Description</label>
                            <input type="text" formControlName="desc" value="this is the user one">
                        </p>
                        <p class="row-in-form">
                            <input value="Pay Now With Stripe" type="submit" class="btn btn-medium"
                                style="background-color: #ff2832;color: white;font-weight: bold;">
                        </p>
                    </form>
                </div>
                <p class="summary-info grand-total"><span>Grand Total</span> <span
                        class="grand-total-price">${{totalPrice}}</span></p>
            </div>
            <div class="summary-item shipping-method">
                <h4 class="title-box f-title">Shipping method</h4>
                <p class="summary-info"><span class="title">Flat Rate</span></p>
                <p class="summary-info"><span class="title">Fixed $50.00</span></p>
            </div>
        </div>
    </div><!--end main content area-->
    </div><!--end container-->
</main>
<!--main area-->