<!-- <div class="container-fluid">
    <div class="d-flex justify-content-center container-fluid">
        <form class="w-100 m-3" [formGroup]="editProduct" (ngSubmit)="onSubmit()">
            <div class="mb-3 row">
                <div class="col-2">
                    <label for="prouctName" class="form-label">Name</label>
                </div>
                <div class="col-10">
                    <input type="text" class="form-control" id="prouctName" fdprocessedid="k63lp" formControlName="name"
                        *ngIf="product" value="{{product.name}}" />
                    <div class="bg-gradient-danger" *ngIf="isSubmitted && !nameValid">
                        <sup>*</sup>Please provide product name
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-2">
                    <label for="description" class="form-label">Description</label>
                </div>
                <div class="col-10">
                    <textarea class="form-control" id="description" rows="3"
                    *ngIf="product" formControlName="desc">{{product.desc}}</textarea>
                    <div class="bg-gradient-danger" *ngIf="isSubmitted && !descValid">
                        <sup>*</sup>Please provide product description
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-2">
                    <label for="category" class="form-label">Category</label>
                </div>
                <div class="col-10">
                    <select class="form-select" formControlName="category">
                        <option *ngFor="let category of categories" [ngValue]="category.id">
                            {{category.name}}</option>
                    </select>
                    <div class="bg-gradient-danger" *ngIf="isSubmitted && !categoryValid">
                        <sup>*</sup>Please provide product category
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-2">
                    <label for="inventory" class="form-label">Inventory</label>
                </div>
                <div class="col-10">
                    <select class="form-select" formControlName="inventory">
                        <option *ngFor="let inventory of inventories" [ngValue]="inventory.id">
                            {{inventory.quantity}}</option>
                    </select>
                    <div class="bg-gradient-danger" *ngIf="isSubmitted && !inventoryValid">
                        <sup>*</sup>Please provide product inventory
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-2">
                    <label for="price" class="form-label">Price</label>
                </div>
                <div class="input-group mb-3 col-10">
                    <span class="input-group-text">$</span>
                    <input type="number" class="form-control" formControlName="price">
                    <span class="input-group-text">.00</span>
                    <div class="bg-gradient-danger" *ngIf="isSubmitted && !priceValid">
                        <sup>*</sup>Please provide product price
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-2">
                    <label for="discount" class="form-label">Discount</label>
                </div>
                <div class="col-10">
                    <select class="form-select" formControlName="discount">
                        <option *ngFor="let discount of discounts" [ngValue]="discount.id">
                            {{discount.name}}</option>
                    </select>
                    <div class="bg-gradient-danger" *ngIf="isSubmitted && !discountValid">
                        <sup>*</sup>Please provide product discount
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-2">
                    <label for="image" class="form-label">Image</label>
                </div>
                <div class="col-8">
                    <input type="file" class="form-control" aria-label="file example" accept="image/png, image/jpeg"
                        (change)="onSelectImage($event)" formControlName="image">
                    <div class="bg-gradient-danger" *ngIf="isSubmitted && !imageValid">
                        <sup>*</sup>Please provide product image
                    </div>
                </div>
                <div class="col-2">
                    <img src="assets/img/{{imageName}}" *ngIf="imageName" alt="" srcset="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/admin/products">Cancel</button>
                <button type="submit" class="btn btn-primary" >Edit Product</button>
            </div>
        </form>
    </div>
</div>
 -->
